@model MvcMovie1.Models.User

<h2 style="text-align:center">Sign up </h2>

<h4   style="width:70%;  margin: 0 auto;"> create your favourite movie list !</h4>
<hr />

<form asp-action="Create" style="width:70%;  margin: 0 auto;">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div>
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="ConfirmPassword " class="control-label"></label>
        <input asp-for="ConfirmPassword " class="form-control" />
        <span asp-validation-for="ConfirmPassword " class="text-danger"></span>
    </div>
    
    <br>
    <p style="color:red;">@TempData["ERROR"] </p>
    <br>

    <div>
        <input type="submit" value="Create" class="btn btn-default" style="float:right; margin-right: 1cm" />
    </div>
</form>

<!--div>
    <a asp-action="Index">Back to List</a>
</div-->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
