@{
    ViewData["Title"] = "About";
}

<script>window.sessionStorage.removeItem('page');</script>

<h2>@ViewData["Title"]</h2>


<h3 > User Guidance </h3>
<br>
<h4 style="margin-left:5%;"> Description </h4>
<p id="desc" style="line-height:1.5; margin-left:5%;">
    You can find the latest Movies in Movie Station.<br /> Key points: <br />
    <li style="line-height:1.5; margin-left:6%;"> Search by keyword </li>
    <li style="line-height:1.5; margin-left:6%;"> Search by Genres </li>
    <li style="line-height:1.5; margin-left:6%;"> Show Movie Details</li>
    <li style="line-height:1.5; margin-left:6%;"> Show Trailer if it is uploaded </li>
    <li style="line-height:1.5; margin-left:6%;"> Reconmend smilar movies </li>
    <li style="line-height:1.5; margin-left:6%;"> Add movie to your favourite movie list after login</li>
    <li style="line-height:1.5; margin-left:6%;"> Login to manage your favouite movie list </li>
</p>
<br>

<img src="../../images/Movie_UI.png" alt="UI" style="width:90%; margin:1%  0  5%  5%;" >

 