@{
    ViewData["Title"] = "Contact";
}

<script>window.sessionStorage.removeItem('page');</script>
<h2>@ViewData["Title"]</h2>


<p> Currently an undergraduate student in University of Alberta. </p><br>
<h3> Email </h3>
<p style="margin-left:7vw;"> ceciliawu123@gmail.com </p>
<h3> Current Location </h3>
<p style="margin-left:7vw;"> Edmonton, AB Canada </p>
<h3> Phone </h3>
<p style="margin-left:7vw;"> Secret :) </p>
<h3>GitHub HomePage</h3>
<a href="https://github.com/xuanyi35" target="_blank" style="color:RoyalBlue  ;"> <p style="margin-left:7vw;">https://github.com/xuanyi35  </p> </a>
<h3>Personal Blog</h3>
<a href="https://xuanyi35.github.io/" target="_blank" style="color:RoyalBlue  ;"> <p style="margin-left:7vw;">https://xuanyi35.github.io/ </p> </a>

