@{
    ViewData["Title"] = "Home Page";
}
<!--link rel="stylesheet" href="~/css/gallery.css" /-->
<link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet">
<link rel="stylesheet" href="~/css/cards.css" />
<script src="~/js/discoverScripts.js"></script>


    <h2 style="text-align:center "> Welcome to Movie Station !</h2>

<body onload="main()", id="moviesL">
    <div class="bar">
        <button id="previous" class="button" onClick="previousClick()">  < </button>
        <p style="display: inline-block" id="page" > 1 </p>
        <button id="next" class="button" onclick="nextClick()">  > </button>
    </div>

</body>