@{
    ViewData["Title"] = "Home Page";
}
<!--link rel="stylesheet" href="~/css/gallery.css" /-->
<link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet">
<link rel="stylesheet" href="~/css/cards.css" />
<script src="~/js/discoverScripts.js"></script>


    <h2 style="text-align:center "> Welcome to Movie Station !</h2>
    <div class="bar" id=" BUTbar">
        <button id="previous1" class="button" onClick="previousClick()">  < </button>
        <p  id="page" style=" display: inline-block"> 1 </p>
        <button id="next" class="button1" onclick="nextClick()">  > </button>

        <input type="text" id="toPage" style="width:40px; margin-left:30px">
        <button id="go" class="button1" style="width:3%" onclick="jumpPage()">  Go! </button>
    </div>

    <p   id="moviesL"> </p>
    <body onload="main()" >
    </body>


