<!--p> model MvcMovie1.Models.Movie </p-->
@model MvcMovie1.Models.User

<meta charset="UTF-8">
<script src="~/js/detailscript.js"></script>
<link rel="stylesheet" href="~/css/detailcss.css" />
<link href="~/css/popup.css" rel="stylesheet">
<!--h4>@ViewData["Message"]</h4-->

<body onload="mainDetail()">


    <h2 id='t'> Title</h2>
    <h3 id='ot'> Original Title </h3>
    <div class="clr">
        <div class='movieIMG '>
            <img id='pic' alt="Movie Picture" style="width: 70%; height: auto; margin-left:15%;"><br />
            <form asp-area="" asp-controller="Home" asp-action="MovieDetail" style="margin-left:5%;">
                <input type="text" name="mid" id="passvalue" value="this is mid" style="display:none" />
                <input id="myBtn" type="submit" value="Add to my movie list " class="btn btn-default" style="margin: 2vw 18%" />
            </form>
        </div>

        <div class='info'>
            <p style="background-color :rgb(192, 217, 255);display:inline-block; "> Release Date </p>
            <p id='rdate' style="display:inline-block"> Release Date </p><br />
            <p style="background-color :rgb(192, 217, 255); display:inline-block"> OverView </p> <br>
            <p id='overview' style="line-height: 1.6;"> overview </p>
            <p style="background-color :rgb(192, 217, 255); display:inline-block"> Belongs to collection </p> <br>
            <p id='collection'> belongs to collection </p>


            <a id='hp' target="_blank" style=" margin-left: auto; margin-right: auto; width:200px; display:block"> Homepage   </a><br>
            <div id='root' style="display:block; padding-left:30px;"> Genres </div>

        </div>

    </div>
    <div id="id">   </div>
    <p id="tempU" style="display:none"> @TempData.Peek("UserName")   </p>

    <!-- The Modal -->

    <div id="myModal" class="modal">
        <form asp-area="" asp-controller="User" asp-action="Success">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h2>Log  in</h2>
                </div>
                <div class="modal-body">
                    <p > User Name :</p> <input asp-for="UserName" style="line-height:25px;  width: 80%" /><br>
                    <p > Password  : </p> <input asp-for="Password" style="line-height:25px; width: 80%"><br><br> 
                    <p> <button id="login" style="float:right; margin-right:10%; background-color:transparent;" type="submit">Login</button></p>
                </div>
                <div class="modal-footer">
                    <h4 style="text-align:center;"> Do not have an account?</h4>
                    <h4 style="text-align:right">Sign up here</h4>
                </div>
            </div>
        </form>
    </div>
    <script src="~/js/popscript.js"></script>

</body>
