<meta charset="UTF-8">
<script src="~/js/detailscript.js"></script>
<link rel="stylesheet" href="~/css/detailcss.css" />
<!--h4>@ViewData["Message"]</h4-->

<body onload="mainDetail()" >
    <h2 id='t'> Title </h2>
    <h3 id='ot'> Original Title </h3>
    <div class='movieIMG '>
        <img id='pic' alt="Movie Picture" style="width: 90%; height: auto; margin-left:5%;"><br />
        <button style="margin-left:5%;"> Add to my movie list   </button>
    </div>
    
    <div class='info'>
        <p style="background-color :rgb(192, 217, 255); font-size: 15px;display:inline-block"> Release Date </p>
        <p id='rdate' style="display:inline-block"> release date </p><br />
        <p style="background-color :rgb(192, 217, 255); font-size: 15px;display:inline-block"> OverView </p> <br>
        <p id='overview'  style="line-height: 1.6;"> overview </p>
        <p style="background-color :rgb(192, 217, 255); font-size: 15px;display:inline-block"> Belongs to collection </p> <br>
        <p id='collection'> belongs to collection </p>


        <a id='hp' target="_blank" style=" font-size: 20px; margin-left: auto; margin-right: auto; width:200px; display:block"> Sorry, cannot find Home Page</a><br>
        <div id='root' style="display:block; padding-left:30px;  "> Geners </div>
    </div>
</body>
